@use 'variables';
* {
    margin: 0;
    box-sizing: border-box;
    color: variables.$unitextcolor;
}
.content-container {
    background-image: url(images/computerbackground.png);
    background-size: 100vw 100%;
    background-repeat: no-repeat;
    width: 100%;
    .content {
        max-width: variables.$content-max;
        margin: 0 auto;
        padding-top: 150px;
        display: flex;
        h3 {
            margin-bottom: 20px;
            font-size: 37px;
        }
        .devcourse-logo {
            width: 750px;
            aspect-ratio: 5/1;
            background-image: url(images/DevCourseLogo.png);
            background-size: 100%;
            margin-bottom: 50px;
        }
        h1 {
            margin: 0px 50px 70px 50px;
            font-size: 60px;
            text-align: center;
        }
        button {
            background-color: variables.$purple;
            border: none;
            width: 300px;
            aspect-ratio: 4.3/1;
            font-weight: 500;
            margin-bottom: 70px;
        }
        .infoblocks {
            margin-bottom: 50px;
            width: 90%;
            .infoblock {
                flex: 3;
                align-items: center;
                flex-direction: column;
                .infoblock-toprow {
                    .material-symbols-outlined {
                        font-variation-settings:
                        'FILL' 0,
                        'wght' 400,
                        'GRAD' 0,
                        'opsz' 24
                    }
                    .material-symbols-outlined {
                        height: 25px;
                    }
                    p {
                        margin-left: 5px;
                        height: 25px;
                    }
                }
            }
            .divider {
                border: 1px solid variables.$gray;
                opacity: 80%;
            }
        }
    }
}
.bottom-nav {
    background-color: variables.$lightgray;
    nav {
        width: variables.$content-max;
        ul {
            list-style-type: none;
            padding: 0px;
            margin-top: 25px;
            li {
                color: variables.$navtextcolor;
                flex: 7;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
}
@media (max-width: 800px) {
    .content-container {
        .content {
            h3 {
                font-size: 25px;
            }
            .devcourse-logo {
                width: 500px;
            }
            h1 {
                font-size: 45px;
            }
            button {
                width: 200px;
                font-size: 18px;
            }
        }
    }
    .bottom-nav {
        nav {
            ul {
                flex-direction: column;
                li {
                    margin: 10px 0px;
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .content-container {
        .content {
            h3 {
                font-size: 17px;
            }
            .devcourse-logo {
                width: 350px;
            }
            h1 {
                font-size: 30px;
            }
            .infoblocks {
                flex-direction: column;
                align-items: center;
                .divider {
                    width: 50%;
                    margin: 10px 0px;
                }
            }
        }
    }
}
@media (max-width: 380px) {
    .content-container {
        .content {
            h3 {
                font-size: 13px;
            }
            .devcourse-logo {
                width: 250px;
            }
            h1 {
                font-size: 18px;
            }
        }
    }
}