@use 'variables';
* {
    margin: 0;
    box-sizing: border-box;
    color: variables.$unitextcolor;
}
.content-container {
    background-image: url(images/computerbackground.png);
    background-size: 100%;
    width: 100%;
    .content {
        width: variables.$content-max;
        justify-content: center;
        margin: 0 auto;
        padding-top: 100px;
    }
}
.bottom-nav {
    background-color: variables.$lightgray;
    nav {
        width: variables.$content-max;
        margin: 0 auto;
        ul {
            list-style-type: none;
            padding: 0px;
            width: 100%;
            li {
                color: variables.$navtextcolor;

            }
        }
    }
}
